.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 20px;
}

li {
  padding: 20px;
  background-color: rgba(10, 46, 124, 0.45);
  border-radius: 30px;

}

.active {
  color: red;
  padding: 20px;
  border-radius: 30%;
  border: 10px red;
}